img.textStamp{
  position: absolute;
  animation: 20s linear 0s normal none infinite running textStamp;
  -webkit-animation: 20s linear 0s normal none infinite running textStamp;
}

@keyframes textStamp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes textStamp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.personPhoto{
  border-radius: 50%;
  object-fit: cover;
}

.spinnerImgWrapper{
  display: flex;
  align-items: center;
  justify-content: center;

}

.spinnerWrapper{
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.polygon{
  transition: all 0.8s ease-in-out;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 1400px){
  .spinnerWrapper{
    margin-top: -200px;
  }
}

@media (max-width: 1200px){
  .spinnerWrapper{
    display: none;
  }
}

