@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("./ProximaNova-Semibold.eot");
  src: url("./ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
    url("./ProximaNova-Semibold.woff") format("woff"),
    url("./ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("ProximaNova-Bold.eot");
  src: url("ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("ProximaNova-Bold.woff") format("woff"),
    url("ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url('ProximaNova-Extrabld.eot');
  src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Extrabld.woff') format('woff'),
  url('ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("Gilroy-ExtraBold.eot");
  src: url("Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-ExtraBold.woff") format("woff"),
    url("Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("ProximaNova-Regular.woff") format("woff"),
    url("ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('BebasNeueBold.eot');
  src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('BebasNeueBold.woff') format('woff'),
  url('BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }