.mainStepWrap {
  display: inline-block;
  width: 270px;
  height: 80px;
}

.stepsWrapper {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerStep {
  display: inline-block;
  width: 200px;
  font-size: 20px;
  font-family: "Proxima Nova Bold";
}
