.header {
  font-family: "Proxima Nova Semibold";
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  background: transparent;
  position: fixed;
  transition: all 0.8s ease-in-out;
  z-index: 1000;
}

.show {
  background: #083759;
  transition: all 0.8s ease-in-out;
}

.container {
  width: 1420px;
  display: flex;
  justify-content: space-between;
}

.menu,
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 320px;
}
.contacts {
  width: 460px;
}

.phone {
  text-align: end;
}

.phoneNumber {
  font-family: "Proxima Nova Bold";
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.linkToEmail {
  color: #fee040;
  font-size: 14px;
  text-decoration: none;
}

.contactToUs {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 3px;
}

.smallImage {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .logoEnginee {
    display: none;
  }
  .menu {
    width: 80px;
  }
}


